name: Continuous Deployment

on:
    release:
        types: [published]

env:
    NODE_VERSION: 16
    CI: true

jobs:
    tests:
        runs-on: ubuntu-latest
        timeout-minutes: 10

        steps:
            - name: Checkout default branch
              uses: actions/checkout@v3

            - name: Use pnpm
              uses: pnpm/action-setup@v2
              with:
                  version: latest

            - name: Use Node.js ${{ env.NODE_VERSION }}
              uses: actions/setup-node@v3
              with:
                  node-version: ${{ env.NODE_VERSION }}
                  cache: 'pnpm'

            - name: Install npm dependencies
              run: pnpm i --frozen-lockfile

            - name: Lint and fix code
              run: pnpm lint

            - name: Typecheck files
              run: pnpm typecheck

            - name: Test code
              run: pnpm test

    publish:
        runs-on: ubuntu-latest
        timeout-minutes: 10

        needs: tests

        permissions:
            packages: write
            contents: read

        steps:
            - name: Checkout default branch
              uses: actions/checkout@v3

            - name: Use pnpm
              uses: pnpm/action-setup@v2
              with:
                  version: latest

            - name: Use Node.js ${{ env.NODE_VERSION }} (npm registry)
              uses: actions/setup-node@v3
              with:
                  node-version: ${{ env.NODE_VERSION }}
                  registry-url: 'https://registry.npmjs.org'
                  cache: 'pnpm'

            - name: Install npm dependencies
              run: pnpm i --frozen-lockfile

            - name: Build the CLI
              run: pnpm build

            - name: Publish to npm
              run: pnpm publish --access public
              env:
                  NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

            - name: Use Node.js ${{ env.NODE_VERSION }} (GitHub registry)
              uses: actions/setup-node@v3
              with:
                  node-version: ${{ env.NODE_VERSION }}
                  registry-url: 'https://npm.pkg.github.com'
                  cache: 'pnpm'

            - name: Publish to GitHub Packages
              run: pnpm publish --access public
              env:
                  NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
