name: Continuous Integration

on:
    push:
        branches:
            - master

env:
    CI: 1

jobs:
    tests:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout current commit
              uses: actions/checkout@v2

            - name: Use Node.js ${{ secrets.NODE_VERSION }}
              uses: actions/setup-node@v1
              with:
                  node-version: ${{ secrets.NODE_VERSION }}

            - name: Cache NPM dependencies
              id: npm_cache
              uses: actions/cache@v2
              with:
                  path: ~/.npm
                  key: node${{ secrets.NODE_VERSION }}-${{ hashFiles('package-lock.json') }}

            - name: Install NPM dependencies
              run: npm ci

            - name: Typecheck files
              run: npm run typecheck

            - name: Lint TypeScript files
              run: npm run lint

            - name: Test App Bridge
              run: npm test
